services:
  stardust-engine:
    build:
      context: .
      dockerfile: Dockerfile
    image: stardust-engine:latest
    ports:
      - "5001:5001"
    environment:
      SD_CONFIG_PATH: /app/config
      SD_ENV: production
      SD_ALLOW_INSECURE_CONFIG: "false"
      STARTUP: "bun run src/index.ts --app=/app/user"
    volumes:
      - ./config:/app/config
      - ./modules:/app/modules
      - ./user:/app/user
      - ./node_modules:/app/node_modules
      - ./public:/app/public
      - ./lang:/app/lang
    restart: unless-stopped